.red {color: red;}

.nput-container ul li:first-child{
			background-color: yellow;
}

body {
	padding: 0px;
	margin: 0px;
	font-family: "Interstate-Bold","helvetica-neue",helvetica,sans-serif;
	background-color: #fff;
	
	
}
.header{
	background-color: #e4002b;
}

.title{
	text-align: center;
	padding: 15px 0px;
    margin-top: 0px;
	color: #fff;
}
.search_bar{
	margin: 0px 45px 0px 10px;
}

.ml-input-filter{
	width: 59%;
	height: 35px;
	border-radius: 15px;
	font-size: 16px;
	color: black;
	outline: none;
	padding: 0px 0px 0px 20px;
	border: 2px solid #727885;
	margin-left: 20%;
	
}
.box{
    color: #000;
    padding: 0px;
    /*display: none;*/
    margin-top: 20px;
	    cursor: all-scroll;
}
input[type="checkbox"] {
    display: none;
}

.active {
  color: #e4002b;
  font-weight: bold;
}
.sortable{
			list-style-type: none;
}

.container {
	float:left;
	width: 15%;
	margin: 10px;
	padding: 20px;
	background-color: #f7f7f7;
	border-radius: 15px;
}
.work {
    width: 55%;
}
.container.work h3 {
    text-align: center;
    margin: 0;
	color: #e4002b;
}

.options_container {
	margin: 10px;
}
.code {
	margin: 10px;
	padding: 20px;
	font-family: monospace;
	background-color: #E2E2E2;
}
.ml-container {
	margin: 0 10px;
}

.ml-ul {
	overflow:auto;
	list-style-type: none;
	padding: 0;
	margin-top: 10px;
	max-height: 340px;
}

.ml-ul label {
	width: 100%;
	font-size: 15px;
	font-family: sans-serif;
	cursor: pointer;
	padding: 0px !important;
	-webkit-user-select: none;       
	-moz-user-select: none; 
	-ms-user-select: none; 
	-o-user-select: none;
	user-select: none;
}


.ml-input-container .ml-input-filter {
	width: 97%;
	height: 34px;
	padding: 5px 0px 5px 10px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #FFFFFF;
	background-image: none;
	border: 1px solid #CCCCCC;
	border-radius: 4px;
}


.ml-li {
	padding: 10px 10px 7px 10px;
	margin-right: 10px;
	text-align: center;
}

.ml-li input {
	margin-right: 10px;
}

.ml-disabled-element-li {
	background-color: #E4E8EA;
}

.ml-disabled-element-li label {
	padding-left: 23px;
}

.ml-hide {
	display: none !important;
}