.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

.scatter-top-container{
    float: left;
    width: 55%;
    margin: 10px 10px 0px 10px;
    padding: 0px 20px 0px 20px;
}

.scatter-workarea{
    width: 100%; 
    margin: 0px 0px 10px 0px; 
    padding: 20px 0px 20px 0px;
}

.scatter-svg{
    width: 100%; 
    margin: 0px; 
    padding: 0px; 
    margin-top: 10px;
}